body {
  background-color: black !important;
}

/* SCREEN STYLE */

.screen {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.screen-visible {
  display: block;
}

.screen-hidden {
  display: none;
}

#select_players_screen {
  background-color: transparent;
}

#select_rounds_screen {
  background-color: transparent;
}

#select_weapon_screen {
  background-color: transparent;
}

#go_screen {
  background-color: transparent;
}

#results_screen {
  background-color: transparent;

}


/* BUTTON STYLE*/

.players_amount_button_container {
  display: inline-block;
  margin-top: 30vh;
  height: 210px;
  width: 210px;

}

.rounds_container {
  display: inline-block;
  margin-top: 30vh;
  height: 200px;
  width: 300px;
  text-align: center;
}

.weapons_container {

  display: inline-block;
  margin-top: 25vh;
  height: 300px;
  max-width: 320px;
  text-align: center;
  font-size: 0 !important;


}

.weapons_container div {
  display: inline-block;
  height: 150px;
  width: 150px;
}


.div-btn {
  position: relative;
  text-align: center;
  padding: .3em;

  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2em;
  opacity: 1;

}

@media(hover: hover) {
  .div-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

.div-btn:active {
  opacity: .7;
  color: rgb(0, 0, 0);
}

.players_amount {
  width: 70px;
  height: 70px;
  float: left;


}

.go_button {
  display: inline-block;
  margin-top: 35vh;
  max-width: 320px;
  text-align: center;
}

.players_amount span {
  width: 100%;
}

.next_round_button {
  width: 100%;
}

.select_weapon {
  background-size: cover;
  background-position: center center;
}

.rock {
  background-image: url(../img/rock.png);
  background-color: transparent;
}

.paper {
  background-image: url(../img/paper.png);
  background-color: transparent;
}

.scissors {
  background-image: url(../img/scissors.png);
  background-color: transparent;
}

@media(hover: hover) {
  .rock:hover {
    background-image: url(../img/rock_t.png);
    background-color: transparent;
  }

  .paper:hover {
    background-image: url(../img/paper_t.png);
    background-color: transparent !important;
  }

  .scissors:hover {
    background-image: url(../img/scissors_t.png);
    background-color: transparent;
  }
}