/* GENERAL STYLE */
html {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: black !important;

  background-color: rgb(232, 44, 44) !important;*/
}

.row {
  --bs-gutter-x: 0 !important;
}

/* HIDE / SHOW FUNCTIONALITY */
.show {
  display: block;
}

.hide {
  display: none;
}





/* CLASSES */
.container {
  position: relative;
  padding-top: 10vh !important;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  width: 100% !important;
  height: 100%;

  color: white;

}

.header {
  position: relative;
  font-weight: 200;
  font-size: 1.4em;
}

.clickable {
  background-color: transparent;
  color: white;
}

@media(hover: hover) {
  .clickable:hover {
    background-color: white;
    color: black;

    width: 200px;
    margin-left: auto;
    margin-right: auto;
    max-height: 36px;
  }
}


.btn_div {
  padding: 20px 35px;

  font-size: 2em;
  font-weight: bold;
  letter-spacing: -.02em;
  display: inline-block;
  max-width: 280px;

  background-color: transparent;
  color: white;
}


@media(hover: hover) {
  .btn_div:hover {
    background-color: white;
    color: black;
  }
}

.selection_btn {
  background-size: 6em;
  background-position: center center;
  background-repeat: no-repeat;
  height: 18vh;
  width: 100%;
}

.go_screen {
  padding-top: 30vh;
}

.winner_names {
  font-size: 3em;
  font-weight: bold;
}

/* IMG BACKGROUNDS */
.rock {
  background-image: url(../img/rock.png);

}

@media(hover: hover) {
  .rock:hover {
    background-image: url(../img/rock_t.png);
    background-color: transparent;

  }

}


.paper {
  background-image: url(../img/paper.png);
}

@media(hover: hover) {
  .paper:hover {
    background-image: url(../img/paper_t.png);
    background-color: transparent;

  }

}

.scissors {
  background-image: url(../img/scissors.png);
}

@media(hover: hover) {
  .scissors:hover {
    background-image: url(../img/scissors_t.png);
    background-color: transparent;
  }
}


.player1 {
  color: rgb(255, 230, 0);
}

.player2 {
  color: rgb(255, 77, 0);
}

.player3 {
  color: rgb(245, 103, 181);
}

.player4 {
  color: rgb(0, 236, 63);
}

.player5 {
  color: rgb(11, 209, 173);
}

.player6 {
  color: rgb(11, 100, 209);
}

.player7 {
  color: rgb(236, 0, 110);
}

.player8 {
  color: rgb(232, 44, 44);
}

.player9 {
  color: rgb(126, 227, 48);
}